.tables{
    width: 100%;
    height: 100%;
    
    background-color: $color-grey-light-2;
    
    display: flex;
    justify-content: center;
    align-content: flex-start;
    flex-wrap: wrap;
    
    
    &__item{
        width: 200px;
        height: 200px;
        background-color: #00cec9;
        margin: 2rem;
        border-radius: 5px;
        padding: 1rem;
        font-size: 1.4rem;
    }
}