*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  border: 1px solid black; }

body {
  box-sizing: border-box;
  padding: 3rem;
  background-color: orange; }

.landing {
  height: 95vh;
  margin: 0;
  padding: 0;
  background-color: green; }
